
.clouds{
   
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 100%;
    z-index: 2;
  
      background: url("./cloud1.png");
      background: url("./cloud2.png") 0 200px,
                  url("./cloud3.png") 0 300px,
                  url("./cloud4.png") 100px 250px,
                  ;
                  
                  animation: wind 20s linear infinite;
    }
    @keyframes wind{
      0% {
        background-position: 0 200px, 0 300px, 100px 250px;
      }
      100% {
        background-position: 1000px 200px, 1200px 300px, 1100px 250px;
      }
    }