.container {
  width: 80vw;

  margin: auto;
  margin-top: 5vh;
  padding: 0 1rem;
}

.heading {
  font-size: 4rem;
  width: 100vw;
  color: rgb(56, 59, 61);
  
  margin-top: 2rem;
  margin-bottom: 6rem;
}