.wrapper{
    margin: 2rem 2rem;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 10rem;
}
.wrapper>h1{
    color: rgb(80, 80, 80);;
    font-size:4rem;
    margin: 0;
    border-bottom: 10px solid #35d8ba;
    border-radius: .5rem;
    width: fit-content;
    margin: 0  0 2rem 1rem ;
}

.container{
    width: 90%;
    margin:auto;
   
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}