.introp{
    font-size: 1.6em;
    color: #484848;
    
    letter-spacing: .25em;
}
*{
                                                
    font-family: 'Oscine Trial', sans-serif;
                                                                                                                                                              
}
.profileimg {
    width: 80% !important;
    height: 65% !important;
    margin-bottom: 1.25rem;
    /* border: 1px solid red; */
    margin-left: 1rem;
    margin-top: 5rem;
    border-radius:50px 105px 15px 100px;
    border-width: 10px ;
    border-style: solid ;
   border-color: #008b8b;
   padding: 10px;
  }
.name{
    font-size:6rem;
    margin: 0;
    background: linear-gradient(to right,#96c4c3,#499e9d,#008b8b,#96c4c3);
    background-clip: text;
    color: transparent;
}
.introhead{
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #ccc;
    word-spacing: .25rem;
   
}
.tagline{
    font-size: 1.5em;
    color: #484848;
    width: 100%;
    word-spacing: .25rem;

} 
 .container{
    
    width: 50vw;
    font-family:   Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: auto;
    padding: 2em;
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    animation: fade 8s;
   
} 
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 
.canvas{
    
    width: 30vw;
    margin-top: 18vh;
    
}
.flexbox{
    width: 100vw;
    overflow: hidden;
    display: flex;
    padding: 0 10vw;
}

    
@media screen and (max-width: 700px)
{
    .canvas{
        display: none;
    }
    .introp{font-size: 1.2em;}
    .name{
        font-size:3.1em;
    }
    .introhead{
        font-size:2.1em ;
    }
    .tagline{ font-size: 1.2em;}
}
