.wrapper {
  width: 90vw;
  height: 80vh;
  margin: auto;
  margin-bottom: 10rem;
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.UpperTriangle {
  width: 150%;
  height: 150%;
  background-color: white;
  transform: rotate(45deg) translateX(-80%);

  position: absolute;
  z-index: 5;
}
.BottomTriangle {

  width: 150%;
  height: 150%;
  position: absolute;
  background-color: white;
  transform: rotate(45deg) translateX(80%);

  z-index:5 ;
}
.LeftTriangle {
  width: 150%;
  height: 150%;
  transform: rotate(135deg) translateX(-80%);
  position: absolute;
  background-color: #35cae1;
  

  
}
.RightTriangle {
  width: 150%;
  height: 150%;
  position: absolute;
  background-color: #35cae1;
  transform: rotate(135deg) translateX(80%);

}



@keyframes goleft {
  0% {
    transform: rotate(135deg) translateX(-50%);
  }
  100% {
    transform: rotate(135deg) translateX(-80%);
  }
}

@keyframes goright {
  0% {
    transform: rotate(135deg) translateX(50%);
  }
  100% {
    transform: rotate(135deg) translateX(80%);
  }
}

@keyframes goup {
  0% {
    transform: rotate(45deg) translate(-50%);
  }
  100% {
    transform: rotate(45deg) translate(-80%);
  }
}
@keyframes godown {
  0% {
    transform: rotate(45deg) translate(50%);
  }
  100% {
    transform: rotate(45deg) translate(80%);
  }
}
