body{
    background-color: #1a1a1a;
}
.sidebar_flexbox{
    margin-top: 20vh;
    position: fixed;
    height: 80vh;
    width: 5rem;
    

    display: flex;
    flex-direction: column;
   
    align-items: center;
    
}
.sidebar_flexbox div{
    color: rgb(56, 59, 61);
    margin: .5rem;
    padding: 1rem 1.25rem;
    cursor: pointer;
}
.sidebar_flexbox div:hover{
  
    color: cyan;
}
div.line{
    
    width: 3px;
    border-radius: 5px;
    height: 40vh;
    padding: 0;
    cursor: auto;
   
    background-size: 40% 40%;
 background: linear-gradient(to bottom,whitesmoke,rgb(97, 236, 236), cyan);
animation: gradient 30s ease infinite;
}

div.Pline{
    cursor: auto;
}
@keyframes gradient {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 0px 250px;
    }

  
    100% {
        background-position: 0px 500px;
    }
}