.active{
    opacity: 1!important;
 
    animation: riseright 1s ease-in-out;
}

@keyframes riseright {
    0% {
        transform: translateX(10%);
        opacity: .1;
      }
      100% {
          transform: translateX(0);
          opacity: 1;
      }
  
      
  }
body{
    scroll-behavior: smooth;
}